.prod{
  margin:5px;
}
th, td{
  padding:10px;
}
.list-container {
position: relative;

}
.list-container:not(:first-child) {
margin-top:50px;
}
.container{
  margin-top:50px;
}
.img{
  position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right:100px;
}
th{
  width:10px;
}
.prod-img{
  min-height:50px;
  margin-right:100px;
  margin-top:20px;
}
.prod{
  margin-left:100px;
  text-align:left;
}
.btn-cart{
  background-color:#a3a3a3;
  color:white;
  height:35px;
  width:90px;
  border-radius:10px;
  text-decoration:none;
  font-size:1rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.cLink{
	margin-left:25px;
	color:blue;
	text-decoration:none;
	font-size:1.5rem;
	margin-top:10px;
	margin-bottom:35px;
}
.front-img{
	height:auto;
	width:150px;
	margin-top:10px;
	
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.product-description{
	text-overflow:ellipsis;
	max-width:10ch;
}